<form class="form" name="form" ng-submit="vm.login(form)" novalidate>
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-md-offset-3 col-md-6">
				<h1>Login</h1>
				<div class="form-group">
					<label>Email</label>
					<input type="email" name="email" class="form-control" ng-model="vm.user.email" required>
				</div>

				<div class="form-group">
					<label>Password</label>

					<input type="password" name="password" class="form-control" ng-model="vm.user.password" required>
				</div>

				<div class="form-group has-error">
					<p class="help-block" ng-show="form.email.$error.required && form.password.$error.required && vm.submitted">
						Please enter your email and password.
					</p>
					<p class="help-block" ng-show="form.email.$error.email && vm.submitted">
						Please enter a valid email.
					</p>

					<p class="help-block">{{ vm.errors.login }}</p>
				</div>

				<div>
					<button class="btn btn-inverse btn-lg btn-login" type="submit">
            Login
          </button>
					<a class="btn btn-default btn-lg btn-register" ui-sref="signup">
            Register
          </a>
				</div>
			</div>
		</div>
		<div class="row top-15">
			<div class="col-sm-12 col-md-offset-3 col-md-6">
				<oauth-buttons classes="btn-block"></oauth-buttons>
			</div>
		</div>
	</div>
</form>