<action-nav actions="vm.actions"></action-nav>
<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<table class="table table-hover">
				<thead>
					<tr>
						<th>Name</th>
						<th>Description</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="project in vm.projects">
						<td>{{project.name}}</td>
						<td>{{project.description}}</td>
						<td>
							<button ui-sref="app.projects-edit({projectId : project._id})" class="btn btn-success">Edit</button>
							<button ng-click="vm.deleteProject(project);" class="btn btn-warning">Delete</button></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>