<action-nav actions="vm.actions"></action-nav>

<div class="container">
    <form>
        <h3>Details</h3>
        <div class="row">

            <div class="col-xs-12 col-md-4">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="name" class="form-control" id="email" ng-model="vm.project.name" />
                </div>
            </div>
            <div class="col-xs-12 col-md-8">
                <div class="form-group">
                    <label for="desc">Description</label>
                    <textarea class="form-control" id="desc" ng-model="vm.project.description"></textarea>
                </div>
            </div>
        </div>
        <div>
            <div>
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#testsuites" aria-controls="testsuites" role="tab" data-toggle="tab">Test Suites</a></li>
                    <li role="presentation"><a href="#testcases" aria-controls="testcases" role="tab" data-toggle="tab">Test Cases</a></li>
                    <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="testsuites">
                        <div class="row">
                            <div class="col-sm-12">
                                <h3>Test Suites</h3>
                                <button ng-click="vm.newItem()" class="btn btn-primary"> <span class="glyphicon glyphicon-plus"></span> Add new</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div ui-tree id="tree-root" class="angular-ui-tree">
                                    <ol ui-tree-nodes ng-model="vm.project.testSuites">
                                        <li ng-repeat="node in vm.project.testSuites" ui-tree-node ng-include="'testsuite_template.html'"></li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div role="tabpanel" class="tab-pane" id="testcases">
                        <div class="row">
                            <div class="col-sm-12 col-md-6 col-lg-3">
                                <h3>Test Cases</h3>
                                <div class="form-inline">
                                    <div class="form-group">
                                        <select style="display: inline-block" class="form-control" ng-model="vm.selectedTestSuite" ng-options="option.title for option in vm.getAllTestSuites() track by option.id">
                                    <option >Select a Test Suite</option>
                                </select>
                                    </div>
                                    <div class="form-group">
                                        <button style="display: inline-block" ng-click="vm.addNewTestCase(vm.selectedTestSuite)" class="btn btn-primary"> <span class="glyphicon glyphicon-plus"></span> Add new</button>
                                    </div>

                                </div>



                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div ui-tree id="tree-root" class="angular-ui-tree">
                                    <ol ui-tree-nodes ng-model="vm.selectedTestSuite.testCases">
                                        <li ng-repeat="node in vm.selectedTestSuite.testCases" ui-tree-node ng-include="'testcase_template.html'"></li>
                                    </ol>
                                </div>
                            </div>
                            <div class="col-sm-8" ng-show="vm.selectedTestCase">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <h4>{{vm.selectedTestCase.title}}</h4>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <label>Show Cummulated Result</label>
                                        <input type="checkbox" ng-model="vm.selectedTestCase.showCummulatedExpectedResult" ng-change="vm.showCummulatedResult(vm.selectedTestCase.showCummulatedExpectedResult)" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12 col-md-5">
                                        <label> Action</label>
                                    </div>
                                    <div class="col-sm-12 col-md-7">
                                        <label> Expected Result</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div ui-tree id="tree-root" class="angular-ui-tree">
                                        <ol ui-tree-nodes ng-model="vm.selectedTestCase.testSteps" id="test-step-nodes">
                                            <li ng-repeat="testStep in vm.selectedTestCase.testSteps" ui-tree-node ng-include="'teststep.html'"></li>
                                        </ol>
                                    </div>
                                </div>
                                <div class="row" ng-show="vm.selectedTestCase.cummulatedExpectedResult !== undefined">
                                    <label> Cummulated Result</label>
                                    <input class="form-control" type="text" ng-model="vm.selectedTestCase.cummulatedExpectedResult" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="settings">
                        <div class="row">
                            <div class="col-xs-12">
                                <label>Active</label>
                                <input type="checkbox" ng-model="vm.project.settings.active" />
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <button ng-disabled="!vm.isModified()" ng-click="vm.saveProject();" class="btn btn-success">Save</button>
                <button ui-sref="app.projects" class="btn btn-warning">Cancel</button>
            </div>
        </div>
    </form>
</div>
<script type="text/ng-template" id="testsuite_template.html">
    <div ui-tree-handle class="pull-left tree-handle angular-ui-tree-handle" style="background-color: darkblue">
        <i class="fa fa-bars" aria-hidden="true"></i>
    </div>
    <div class="tree-node-content">
        <a class="btn btn-success btn-xs" ng-if="node.nodes && node.nodes.length > 0" data-nodrag ng-click="toggle(this)"><span
                        class="glyphicon"
                        ng-class="{'glyphicon-chevron-right': collapsed,'glyphicon-chevron-down': !collapsed}"></span></a>
        <input type="text" data-nodrag ng-model="node.title" class="form-control" style="width:70%; display:inline-block" />
        <a class="pull-right btn btn-danger btn-xs" data-nodrag ng-click="vm.remove(this)"><span
                        class="glyphicon glyphicon-remove"></span></a>
        <a class="pull-right btn btn-primary btn-xs" data-nodrag ng-click="vm.newSubItem(this)" style="margin-right: 8px;"><span
                        class="glyphicon glyphicon-plus"></span></a>
    </div>
    <ol ui-tree-nodes="" ng-model="node.nodes" ng-class="{hidden: collapsed}">
        <li ng-repeat="node in node.nodes" ui-tree-node ng-include="'testsuite_template.html'">
        </li>
    </ol>
</script>

<script type="text/ng-template" id="testcase_template.html">
    <div ui-tree-handle class="pull-left tree-handle angular-ui-tree-handle" style="background-color: darkblue">
        <i class="fa fa-bars" aria-hidden="true"></i>
    </div>
    <div class="tree-node-content">
        <input type="radio" ng-model="vm.selectedTestCase" ng-change="vm.selectTestCase(node);" ng-value="node" style="width:20px; height:20px" />
        <input type="text" ng-model="node.title " class="form-control " style="width:70%; display:inline-block" />
        <a class="pull-right btn btn-danger btn-xs " ng-click="vm.remove(this) ">
            <span class="glyphicon glyphicon-remove "></span></a>

    </div>
</script>

<script type="text/ng-template " id="teststep.html">
    <div ui-tree-handle class="pull-left tree-handle angular-ui-tree-handle " style="background-color: darkblue ">
        <i class="fa fa-bars " aria-hidden="true "></i>
    </div>
    <div class="tree-node-content ">
        <div class="row ">
            <div class="col-xs-12 col-md-5 ">
                <input type="text " data-nodrag ng-model="testStep.action" class="form-control" />
            </div>
            <div class="col-xs-12 col-md-4 ">
                <input type="text " data-nodrag ng-model="testStep.expectedResult" class="form-control" ng-blur="vm.addNewStep()" />
            </div>
            <div class="col-xs-12 col-md-2 ">
                <a class="pull-right btn btn-danger btn-xs " data-nodrag ng-click="vm.remove(this) "><span
                        class="glyphicon glyphicon-remove "></span></a>
            </div>
        </div>
    </div>
</script>