$icon-font-path: '/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import '~bootstrap-social/bootstrap-social';
$fa-font-path: '/assets/fonts/font-awesome/';
@import '~font-awesome/scss/font-awesome';
@import '~angular-toastr/dist/angular-toastr.min.css';

@for $i from 1 through 50 {
  .top-#{$i} {
    margin-top: 0px + $i
  }
}

@media (min-width: 1200px) {
  .container {
    width: 90% !important;
  }
}

.btn {
  margin-right: 8px;
}

nav {
  ul {}
}

.angular-ui-tree-handle {
  cursor: move;
  font-weight: bold;
  height: 100%;
  position: absolute;
  text-decoration: none;
  &:hover {
    color: #438eb9;
    background: #f4f6f7;
    border-color: #dce2e8;
  }
}

.angular-ui-tree-placeholder {
  background: #f0f9ff;
  border: 2px dashed #bed2db;
  box-sizing: border-box;
}

tr {
  &.angular-ui-tree-empty {
    height: 100px;
  }
}

.group-title {
  background-color: #687074 !important;
  color: #FFF !important;
}

//--- Tree --- 
.tree-node {
  border: 1px solid #dae2ea;
  background: #f8faff;
  color: #7c9eb2;
}

.nodrop {
  background-color: #f2dede;
}

.tree-handle {
  padding: 10px;
  background: #428bca;
  color: #FFF;
  margin-right: 10px;
}

.angular-ui-tree-placeholder {
  background: #f0f9ff;
  border: 2px dashed #bed2db;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.angular-ui-tree-empty {
  border: 1px dashed #bbb;
  min-height: 100px;
  background-color: #e5e5e5;
  background-image: -webkit-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff), -webkit-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
  background-image: -moz-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff), -moz-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
  background-image: linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff), linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
  background-size: 60px 60px;
  background-position: 0 0, 30px 30px;
  pointer-events: none;
}

.angular-ui-tree-nodes {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
}

.angular-ui-tree-nodes .angular-ui-tree-nodes {
  padding-left: 20px;
}

.angular-ui-tree-node,
.angular-ui-tree-placeholder {
  position: relative;
  margin: 10px;
  padding: 0;
  min-height: 20px;
  line-height: 20px;
}

.angular-ui-tree-hidden {
  display: none;
}

.angular-ui-tree-drag {
  position: absolute;
  pointer-events: none;
  z-index: 999;
  opacity: .8;
}

// @import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,900|Roboto:300,500,700,900);

/**
 * App-wide Styles
 */

.browserupgrade {
  background: #ccc;
  color: #000;
  margin: 0.2em 0;
  padding: 0.2em 0;
}

body {
  background-color: #fff;
}

@media(min-width: 768px) {
  body {
    margin-top: 50px;
  }
}

#wrapper {
  padding-left: 0;
}

#page-wrapper {
  width: 100%;
  height: 100%;
  padding: 0;
  background-color: #fff;
}

.huge {
  font-size: 50px;
  line-height: normal;
}

@media(min-width:768px) {
  #wrapper {
    padding-left: 225px;
  }
}

@media (max-width: 768px) {
  #wrapper {
    margin-top: 100px;
  }
}

// Component styles are injected through gulp

/* inject:scss */

@import '_components/footer/footer';

@import '_components/modal/modal';

@import '_components/navbar/navbar';

@import '_components/oauth-buttons/oauth-buttons';

@import 'layouts/landing-page';

@import 'play-testsuite/play-testsuite';

@import 'projects/projects';

@import 'test-suites/test-suites';

@import 'workspace/workspace';

/* endinject */
