<!-- Navigation -->
<style>
    /*
 * Start Bootstrap - Landing Page (http://startbootstrap.com/)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */
    
    body,
    html {
        width: 100%;
        height: 100%;
    }
    
    body,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: 700;
    }
    
    .topnav {
        font-size: 14px;
    }
    
    .lead {
        font-size: 18px;
        font-weight: 400;
    }
    
    .intro-header {
        padding-top: 50px;
        /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
        padding-bottom: 50px;
        text-align: center;
        color: #f8f8f8;
        background: url('../../assets/images/intro-bg.jpg') no-repeat center center;
        background-size: cover;
    }
    
    .intro-message {
        position: relative;
        padding-top: 20%;
        padding-bottom: 20%;
    }
    
    .intro-message>h1 {
        margin: 0;
        text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
        font-size: 5em;
    }
    
    .intro-divider {
        width: 400px;
        border-top: 1px solid #f8f8f8;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    }
    
    .intro-message>h3 {
        text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
    }
    
    @media(max-width:767px) {
        .intro-message {
            padding-bottom: 15%;
        }
        .intro-message>h1 {
            font-size: 3em;
        }
        ul.intro-social-buttons>li {
            display: block;
            margin-bottom: 20px;
            padding: 0;
        }
        ul.intro-social-buttons>li:last-child {
            margin-bottom: 0;
        }
        .intro-divider {
            width: 100%;
        }
    }
    
    .network-name {
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 2px;
    }
    
    .content-section-a {
        padding: 50px 0;
        background-color: #f8f8f8;
    }
    
    .content-section-b {
        padding: 50px 0;
        border-top: 1px solid #e7e7e7;
        border-bottom: 1px solid #e7e7e7;
    }
    
    .section-heading {
        margin-bottom: 30px;
    }
    
    .section-heading-spacer {
        float: left;
        width: 200px;
        border-top: 3px solid #e7e7e7;
    }
    
    .banner {
        padding: 100px 0;
        color: #f8f8f8;
        background: url(assets/images/banner-bg.jpg) no-repeat center center;
        background-size: cover;
    }
    
    .banner h2 {
        margin: 0;
        text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
        font-size: 3em;
    }
    
    .banner ul {
        margin-bottom: 0;
    }
    
    .banner-social-buttons {
        float: right;
        margin-top: 0;
    }
    
    @media(max-width:1199px) {
        ul.banner-social-buttons {
            float: left;
            margin-top: 15px;
        }
    }
    
    @media(max-width:767px) {
        .banner h2 {
            margin: 0;
            text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
            font-size: 3em;
        }
        ul.banner-social-buttons>li {
            display: block;
            margin-bottom: 20px;
            padding: 0;
        }
        ul.banner-social-buttons>li:last-child {
            margin-bottom: 0;
        }
    }
    
    footer {
        padding: 50px 0;
        background-color: #f8f8f8;
    }
    
    p.copyright {
        margin: 15px 0 0;
    }
</style>
<nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
    <div class="container topnav">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            <a class="navbar-brand topnav" href="#">TestCaser</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#about">About</a>
                </li>
                <li>
                    <a href="#services">Services</a>
                </li>
                <li>
                    <a href="#contact">Contact</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>


<!-- Header -->
<a name="about"></a>
<div class="intro-header">
    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <h1>TestCaser</h1>
                    <h3>A testcase manager</h3>
                    <hr class="intro-divider">
                    <ul class="list-inline intro-social-buttons">
                        <li>
                            <a ui-sref="login" class="btn btn-default btn-lg"><i class="fa fa-sign-in"></i> <span class="network-name">Log In</span></a>
                        </li>

                        <li>
                            <a ui-sref="signup" class="btn btn-default btn-lg"><i class="fa fa-user-plus"></i> <span class="network-name">Sign Up</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.intro-header -->

<!-- Page Content -->

<a name="services"></a>
<div class="content-section-a">

    <div class="container">

        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Manage the manual testing of your projects</h2>
                <p class="lead">Create your projects and set up what and how you want to test. Testing becomes easy and intuitive.</p>
            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                <img class="img-responsive" src="assets/images/ipad.png" alt="">
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>

<div class="content-section-b">

    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Mobile Friendly</h2>
                <p class="lead">Check the status of your projects from anywhere!
                </p>
            </div>
            <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                <img class="img-responsive" src="assets/images/landing_phones.png" alt="">
            </div>
        </div>
    </div>
    <!-- /.container -->

</div>
<!-- /.content-section-a -->


<!--<div class="content-section-a">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Integration with third party</h2>
                <p class="lead">TestCaser is integrated with multiple third party collaboration systems like GitHub, JIRA, TFS and others. You can create issues with just one click.
                </p>
            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                <img class="img-responsive" src="assets/images/landing_thirdpartylogos.png" alt="">
            </div>
        </div>
    </div>
</div>-->

<!-- /.content-section-a -->

<a name="contact"></a>
<div class="banner">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 form-inline">
                <h2>Do you want to contribute?</h2>
                <a href="https://bitbucket.org/thomsa/testcaser" target="_blank" class="btn btn-default btn-lg"><i class="fa fa-bitbucket fa-fw"></i> <span class="network-name">Bitbucket</span></a>
            </div>
        </div>
    </div>
    <!-- /.container -->
</div>
<!-- /.banner -->

<!-- Footer -->
<footer></footer>