<div class="container">
	<div class="row">
		<div class="col-sm-12 col-md-offset-3 col-md-6">
			<div class="center">
				<h1 class="center">Activating Your Account</h1>
			</div>
		</div>
	</div>
</div>