<nav class="navbar navbar-default" sticky offset="50">
	<div class="container-fluid">
		<ul class="nav navbar-nav">
			<li ng-class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    Selected Project: {{vm.selectedProject.name}} 
                    <span class="caret"></span>
                </a>
				<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
					<li ng-repeat="project in vm.projects" ng-click="vm.setSelectedProject(project)"><a href="#">{{project.name}}</a></li>
				</ul>
			</li>
		</ul>
		<div class="nav navbar-nav navbar-right">
			<div class="navbar-header">
				<a class="navbar-brand pull-right" href="#">{{$root.title}}</a>
			</div>
		</div>
	</div>
</nav>

<div class="container">
	<div class="col-sm-12 col-md-3">
		<table class="table borderless">
			<tbody ng-repeat="testSuite in vm.selectedProject.testSuites" ng-include="'tree_item.html'">

			</tbody>
		</table>
	</div>
	<div class="col-sm-12 col-md-9">
		<div class="panel panel-default" ng-show="vm.selectedTestsuite">
			<div class="panel-heading">
				<h3 class="panel-title">Test Suite : {{vm.selectedTestsuite.title}}</h3>
			</div>
			<div class="panel-body">
				<div class="progress">
					<div class="progress-bar progress-bar-success" role="progressbar" title="{{vm.getSuccessPercent()}}" ng-style="{'width': vm.getSuccessPercent()}">
						Succeeded
					</div>
					<div class="progress-bar progress-bar-danger" role="progressbar" title="{{ vm.getFailurePercent()}}" ng-style="{'width': vm.getFailurePercent()}">
						Failed
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12 col-md-4">
						<canvas id="pie" class="chart chart-pie" chart-data="vm.piechart.data" chart-labels="vm.piechart.labels"
							chart-colors="vm.piechart.colors">
						</canvas>
					</div>
					<div class="col-sm-12 col-md-8">
						<canvas id="bar" class="chart chart-bar" chart-data="vm.barchart.data" chart-labels="vm.barchart.labels"
							chart-series="vm.barchart.series">
						</canvas>
					</div>
				</div>

			</div>
		</div>
	</div>
	<script type="text/ng-template" id="tree_item.html">
    <tr >
        <td>
           <a href="#" ng-click="vm.setSelectedTestSuite(testSuite)" >  {{ testSuite.title }}</a>
        </td>
        <td class="absorbing-column">
           
        </td>
        <td>
            <button tc-open-window="/play-testsuite/{{vm.selectedProject._id}}/{{testSuite.id}}" class="btn btn-success">
                Start
                </button>
        </td>
    </tr>
    <tr ng-repeat="testSuite in testSuite.nodes">
        <td colspan="3">
            <table class="table borderless" ng-include="'tree_item.html'">

            </table>
        </td>
    </tr>
</script>
</div>