<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
        <a class="navbar-brand" href="index.html">TestCaser</a>
    </div>
    <!-- Top Menu Items -->
    <ul class="nav navbar-right top-nav">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> {{$ctrl.getCurrentUser().name}} <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li>
                    <a ui-sref="app.settings" href="#"><i class="fa fa-fw fa-gear"></i> Settings</a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="#" ng-click="$ctrl.logout();"><i class="fa fa-fw fa-power-off"></i> Log Out</a>
                </li>
            </ul>
        </li>
    </ul>
    <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav side-nav">
            <li ui-sref-active="active">
                <a ui-sref="app.workspace"><i class="fa fa-fw fa-dashboard"></i> Workspace</a>
            </li>

            <li ui-sref-active="active">
                <a ui-sref="app.projects"><i class="fa fa-fw fa-folder-o"></i> Projects</a>
            </li>
            <!--<li>
                <a href="javascript:;" data-toggle="collapse" data-target="#demo"><i class="fa fa-fw fa-gear"></i> Admin <i class="fa fa-fw fa-caret-down"></i></a>
                <ul id="demo" class="collapse">
                    <li ui-sref-active="active">
                        <a ui-sref="app.projects"><i class="fa fa-fw fa-folder-o"></i> Projects</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="app.test-suites"><i class="fa fa-fw fa-cube"></i> Test Suites</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="app.test-cases"><i class="fa fa-fw fa-cubes"></i> Test Cases</a>
                    </li>
                </ul>
            </li>-->

        </ul>
    </div>
    <!-- /.navbar-collapse -->
</nav>